:root{
    --mainLetterSpacing: 1.2px;
    --mainTransition: all 0.3s linear;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
button{
    outline: none;
    border: none;
}

/* header  */
.header{
    background-color: #252a35;
    text-align: center;
    height: 40px;
    width: 100%;
}
.header p{
    color:#f1f1f1;
    font-size: 11.5px;
    padding: 0.7rem 0;
    letter-spacing: var(--mainLetterSpacing);
}
/* end of header  */

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.2rem 12rem;
    z-index: 2;
    max-width: 1100px;
}
.fa {
    padding-right: 1.2rem;
    font-size: 11px;
    color: gray;
}
.fa:hover{
    cursor: pointer;
}
.fa-facebook:hover {
    color: #3B5998;;
}
.fa-twitter:hover {
    color: #55ACEE;
}
.fa-google:hover {
    color: #EA4335;
}
.fa-instagram:hover {
    color: #C13584
}
.fa-youtube:hover {
    color: #FF0000;
} 
.navbar-heading{
    color: green;
    font-weight: bolder;
    font-size: 35px;
}
.navbar-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-action p{
    color: gray;
    font-size: 12px;
    font-weight: 800;
}
.fa-search{
    font-size: 11px;
    border-radius: 50%;
    color: gray;
}
.fa-search:hover{
color: blue;
}
.fa-bars{
padding-left: 1rem;
color:gray;
}

/* end of navbar */

/* cart  */
.navbar-action p{
    cursor: pointer;
}
.cart-overlay{
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: transparent;
    background: rgba(0, 0, 0, 0.6);
    transition: var(--mainTransition);
    visibility: hidden;
    
}
.cart{
    top: 0;
    right: 0;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.3s;
    padding: 1rem;

}
@media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
}
.cart-close-btn{
    background-color: white;
}
.fa-window-close{
    padding: 1rem 1rem;
    font-size: 22px;
    color: #cc1e12;
}
.cart > h2{
    padding: 0.5rem 1.5rem;
    letter-spacing: var(--mainLetterSpacing);
    text-align: center;
}
.showCart {
    transform: translateX(0);
}
.transparentBcg {
    visibility: visible;
  }
/* cart - items  */

.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    margin: 1.5rem 0;
}
.cart-item img{
    height: 80px;
    width: 80px;
}

.cart-item h5 {
    font-size: 0.85rem;
    letter-spacing: var(--mainLetterSpacing);
}
.cart-item h6 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainLetterSpacing);
}
.remove{
    color: grey;
    font-size: 11px;
    cursor: pointer;
}
.qtn-btn{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}
.quantity{
    color: rgb(41, 40, 40);
    text-align: center;
    font-size: 12px;
    padding: 0 1rem;
}
.qtn-btn > button{
    width: 20px;
    height: 20px;
    align-items: center;
    background-color: #E1E8EE;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(153, 152, 152);
    font-size: 15px;
    text-align:center;
    font-weight: 300;
}
/* end of cart items  */
.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
.banner-btn{
    width: 100px;
    height: 25px;
    align-items: center;
    background-color: #E1E8EE;
    border-radius: 6px;
    cursor: pointer;
    color: black;
    font-size: 15px;
    text-align:center;
    font-weight: 300;
}
/* end of cart  */

/* top menu section  */
.top-menu-section{
    display: flex;
    justify-content: space-between;
    color: rgb(41, 40, 40);
    margin: 2.5rem 20rem 0px 18rem;
    font-size: 12px;
    letter-spacing: var(--mainLetterSpacing);
    font-weight: 600;
    max-width: 1100px;
}
.top-menu-section p:last-of-type{
    color: red;
}
/* end of top menu section  */

/* staggered display grid */
.staggered-display-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 1rem;
    margin: 2rem 1rem 0px 1rem;
}
.staggered-display-grid img{
    max-height: calc(100vh - 62px);
    max-width: calc(65vw - 500px);
    border-radius: 5px;
}
.item3 {
    grid-column: 2/2;
    grid-row: 1/3;
}
.item3 img{
    width: 100%;
}
.item2{
    grid-column: 1/1;
    grid-row: 2/2;
}

   /* css for text overlay */
.staggered-display-grid > div{
    position: relative;
}
.item1 img{
    display: block;
}
.item1-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 99%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item1-img-overlay > *{
    transform: translateY(20px);
    transition: transform 0.3s;
}
.item1-img-overlay:hover{
    opacity: 1;
}
.item1-img-overlay:hover > *{
    transform: translateY(0);
}
.item1-img-overlay-heading{
    font-size: 30px;
    font-weight: 700;
}
   /* end of css for img overlay  */
/* end of staggered display grid */

/* new arrivals */
.new-arrivals{
    margin: 3rem 15rem;
}
.new-arrivals-header{
    display: flex;
    justify-content: space-between;
}
.new-arrivals-header > p{
    color: rgb(41, 40, 40);
    font-size: 30px;
    letter-spacing: var(--mainLetterSpacing);
    font-weight: 600;
}
.new-arrivals-params{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-arrivals-params > p{
    padding: 0 1rem;
    color: rgb(41, 40, 40);
    font-size: 10px;
    letter-spacing: var(--mainLetterSpacing);
    font-weight: 600;
}

/* end of new arrivals  */

/* products */
.products{
    padding: 4rem 0;
}
.product-items{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}
.product-title{
    font-size: 12px;
    color: rgb(41, 40, 40);
    letter-spacing: var(--mainLetterSpacing);
    text-align: center;
    font-weight: 600; 
}
.product-subtitle{
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600; 
    color: grey;
    position: relative;
}
.product-details p{
    font-size: 12px;
    color: green;
    letter-spacing: var(--mainLetterSpacing);
    font-weight: 600; 
    text-align: center;
}
.product-details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.add-btn{
    padding: 0.5rem 0.75rem;
    background-color: #4CAF50;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.add-btn:hover{
    background-color: green;
}
.product-img{
    width: 100%;
    border-radius: 5px;
    height: 20rem;
    min-height: 15rem;
}
.img-container:hover .product-img {
    opacity: 0.8;
} 

/* end of products */

/* more content */
.best-servers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.best-servers p{
    font-size: 40px;
    color: rgb(41, 40, 40);
    font-weight: 900; 
}
.best-servers-desc p{
    font-size: 15px;
    font-weight: 300; 
    padding: 1rem 20rem;
    text-align: center;
    color:rgb(163, 163, 163)
}
/* end of more content  */

/* footer  */
.footer-card{
    display: flex;
    justify-content: space-between;
    margin: 2rem 20rem 0rem;
    background-color: white;
    box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.1);
    max-width: 100%;
    max-height: 200px;
    min-height: 200px;
}
.footer-card > div{

    padding: 2rem 2rem;
}
.footer-card > div:nth-child(2){
    background-color: rgb(247, 247, 247);
}
.footer-card > div > p{
    font-size: 15px;
    font-weight: 600; 
    color: rgb(41, 40, 40);
    padding: 0.5rem 0.1rem;
}
.footer-card > div > p:last-of-type{
    font-size: 13px;
    text-align: justify;
    font-weight: 300; 
    color: rgb(163, 163, 163)
}
.fa-leaf{
    font-size: 25px;
    color: green;
}
.fa-pagelines{
    font-size: 25px;
    color: green;
}
.footer-img img{
    width: 100%;
    max-height: calc(100vh - 50px);
    margin: -6rem 0;
    position: absolute;
    z-index: -1;
}
/* end of footer  */




/*
cast iron - 76cm - low
devils ivy - 200cm - low
weeping fig tree - 150cm - low
staghorn fern - 90cm - low

jade plant - 150cm-bright
croton - 90cm - bright

aloevera 100cm - suc
dolphin - 15cm - suc
*/